<section class="cart-head container-fluid">
  <div class="container">
    <ul>
      <li routerLink="/cart">1. Shopping Cart</li>
      <li routerLink="/ship" class="active">2. Shipping Details</li>
      <li>3. Payment Options</li>
    </ul>
  </div>
</section>

<section class="cart container-fluid">
  <div class="container">
    <div class="cart-items">
      <p>
        SHIPPING DETAILS
      </p>
      <div class="form-details">
        <form [formGroup]="userForm">
          <input
            type="text"
            class="firstName"
            placeholder="First Name"
            formControlName="firstName"
          />
          <input
            type="text"
            class="secondName"
            placeholder="Last Name"
            formControlName="secondName"
          />
          <input
            type="text"
            formControlName="address1"
            class="address1"
            placeholder="Address"
          />

          <input
            type="text"
            formControlName="address2"
            class="address2"
            placeholder="Address 2"
          />
          <select name="" class="country" id="">
            <option value="">Country</option>
            <option value="">India</option>
            <option value="">Canada</option>
          </select>
          <input
            type="text"
            formControlName="city"
            class="city"
            placeholder="City"
          />
          <input
            type="text"
            class="zip"
            formControlName="zip"
            placeholder="Zip/Postal Code"
          />
          <input
            type="text"
            class="phone"
            formControlName="phone"
            placeholder="Phone Number"
          />
        </form>

        <div class="delivery-type">
          <div class="free">
            <input
              type="radio"
              checked
              (click)="deliveryPrice = 0"
              name="delivery"
              id=""
            />
            <div class="label">
              <label for="">Free Delivery </label>

              <span>Between 2-5 working days</span>
            </div>
          </div>
          <div class="not-free">
            <input
              type="radio"
              (click)="deliveryPrice = 50"
              name="delivery"
              id=""
            />
            <div class="label">
              <label for=""
                >Next Day Delivery - {{ 50 | currency: "INR" }}
              </label>
              <span>24hrs from checkout</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btns">
        <button
          type="submit"
          routerLink="/payment"
          (click)="submitForm()"
          [disabled]="userForm.invalid"
          class="next btn"
        >
          Next
        </button>
        <button routerLink="/home" class="Cancel btn">Cancel</button>
      </div>
    </div>
    <div class="cart-summary">
      <p>Summary</p>

      <div   class="items-list">
        <div *ngFor="let item of cartList" class="product">
          <img [src]="item.imageUrl" alt=" Product image" />
          <div class="product-detail">
            <h4>
              {{ item.name }}
            </h4>
            <span>{{ item.price | currency: "INR" }}</span>
          </div>
        </div>
      </div>

      <div class="voucher">
        <input type="text" placeholder="HAVE A VOUCHER" [(ngModel)]="code" />
        <button class="apply-code" (click)="applyCode(code)">APPLY CODE</button>
      </div>

      <div class="cart-total">
        <div class="total">
          <span>SUBTOTAL</span
          ><span>{{ getTotalPrice() | currency: "INR" }}</span>
        </div>
        <div class="total" *ngIf="deliveryPrice === 0">
          <span>SHIPPING</span><span>FREE</span>
        </div>
        <div class="total" *ngIf="deliveryPrice > 0">
          <span>SHIPPING</span
          ><span>{{ deliveryPrice | currency: "INR" }}</span>
        </div>
        <div class="total" *ngIf="disc > 0">
          <span>DISCOUNT</span><span>{{ disc | currency: "INR" }}</span>
        </div>
        <div class="total">
          <span>TAXES</span><span>{{ totalprice / 50 | currency: "INR" }}</span>
        </div>
      </div>
      <div class="total final-total">
        <span>TOTAL</span>
        <span>{{
          totalprice + totalprice / 50 + deliveryPrice - disc | currency: "INR"
        }}</span>
      </div>
    </div>
  </div>
</section>
