<section class="cart-head container-fluid">
  <div class="container">
    <ul>
      <li routerLink="/cart">1. Shopping Cart</li>
      <li routerLink="/ship" class="active">2. Shipping Details</li>
      <li>3. Payment Options</li>
    </ul>
  </div>
</section>

<section class="cart container-fluid">
  <div class="container">
    <div class="cart-items">
      <p>
        SHIPPING DETAILS
      </p>
      <div class="form-details">
        <form>
          <input
            type="text"
            required
            class="firstName"
            placeholder="First Name"
          />
          <input
            type="text"
            required
            class="secondName"
            placeholder="Last Name"
          />
          <input type="text" class="address1" placeholder="Address" required />

          <input
            type="text"
            class="address2"
            placeholder="Address 2"
            required
          />
          <select name="" class="country" id="" required>
            <option value="">Country</option>
            <option value="">India</option>
            <option value="">Canada</option>
          </select>
          <input type="text" class="city" required placeholder="City" />
          <input
            type="text"
            class="zip"
            required
            placeholder="Zip/Postal Code"
          />
          <input
            type="text"
            class="phone"
            required
            placeholder="Phone Number"
          />
        </form>

        <div class="delivery-type">
          <div class="free">
            <input type="radio" checked name="delivery" id="" />
            <div class="label">
              <label for="">Free Delivery </label>

              <span>Between 2-5 working days</span>
            </div>
          </div>
          <div class="not-free">
            <input type="radio" name="delivery" id="" />
            <div class="label">
              <label for="">Next Day Delivery - $20 </label>
              <span>24hrs from checkout</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btns">
        <button type="submit" routerLink="/payment" class="next btn">
          Next
        </button>
        <button routerLink="/home" class="Cancel btn">Cancel</button>
      </div>
    </div>
    <div class="cart-summary">
      <p>Summary</p>

      <div *ngFor="let item of cartList" class="product">
        <img [src]="item.imageUrl" alt=" Product image" />
        <div class="product-detail">
          <h4>
            {{ item.name }}
          </h4>
          <span>{{ item.price | currency: "INR" }}</span>
        </div>
      </div>

      <input type="text" placeholder="ENTER COUPON CODE" />

      <div class="cart-total">
        <div class="total">
          <span>SUBTOTAL</span
          ><span>{{ getTotalPrice() | currency: "INR" }}</span>
        </div>
        <div class="total"><span>SHIPPING</span><span>FREE</span></div>
        <div class="total">
          <span>TAXES</span><span>{{ totalprice / 50 | currency: "INR" }}</span>
        </div>
      </div>
      <div class="total final-total">
        <span>TOTAL</span>
        <span>{{ totalprice + totalprice / 50 | currency: "INR" }}</span>
      </div>
    </div>
  </div>
</section>
