<section class="cart-head container-fluid">
  <div class="container">
    <ul>
      <li routerLink="/cart">1. Shopping Cart</li>
      <li routerLink="/ship">2. Shipping Details</li>
      <li class="active">3. Payment Options</li>
    </ul>
  </div>
</section>

<section class="payment container-fluid">
  <div class="container">
    <div class="payment-details">
      <p>Payment method</p>
      <div class="credit-card">
        <div class="cc-name">
          <div class="rad">
            <input type="radio" name="payment-type" id="" />
            <div>
              <label for="credit-card"> Credit Card</label>
              <p class="cc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                deserunt.
              </p>
            </div>
          </div>
          <div class="card-details">
            <input
              type="text"
              name=""
              id="card-number"
              placeholder="  0000     0000     0000     0000 "
            />
            <input
              type="text"
              name=""
              placeholder="  MM/YY"
              id="card-expiry"
              class="setWidth"
            />
            <input
              type="text"
              name=""
              placeholder="  CVV"
              id="card=cvv"
              class="setWidth"
            />
          </div>
          <input
            type="text"
            name=""
            placeholder="  Card  Holder  Name"
            id="card-name"
          />
        </div>
      </div>
      <div class="paypal">
        <div class="paypal-card">
          <input type="radio" name="payment-type" id="" />
          <div class="label">
            <label for="">
              Paypal
            </label>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ea
              corrupti eligendi explicabo minima placeat neque a tempore vitae
              quis!
            </p>
          </div>
          <div class="paypal-logo">
            <i class="fab fa-paypal fa-2x"></i>
            <em>
              <h3>Pay<span>Pal</span></h3>
            </em>
          </div>
        </div>
      </div>
      <div class="btns">
        <button routerLink="/final" class="next btn">Pay Now</button>
        <button routerLink="/home" class="Cancel btn">Cancel</button>
      </div>
    </div>
    <div class="cart-summary">
      <p>Summary</p>

      <div *ngFor="let item of cartList" class="product">
        <img src="product.imageUrl" alt=" Product image" />
        <div class="product-detail">
          <h4>
            {{ item.name }}
          </h4>
          <span>{{ item.price }}</span>
        </div>
      </div>

      <input type="text" placeholder="ENTER COUPON CODE" />

      <div class="cart-total">
        <div class="total">
          <span>SUBTOTAL</span
          ><span>{{ getTotalPrice() | currency: "INR" }}</span>
        </div>
        <div class="total"><span>SHIPPING</span><span>FREE</span></div>
        <div class="total">
          <span>TAXES</span><span>{{ totalprice / 50 | currency: "INR" }}</span>
        </div>
      </div>
      <div class="total final-total">
        <span>TOTAL</span>
        <span>{{ totalprice + totalprice / 50 | currency: "INR" }}</span>
      </div>
    </div>
  </div>
</section>
