<section class="cart-head container-fluid">
  <div class="container">
    <ul>
      <li>1. Shopping Cart</li>
      <li>2. Shipping Details</li>
      <li class="active">3. Payment Options</li>
    </ul>
  </div>
</section>

<section class="payment container-fluid">
  <div class="container">
    <div class="payment-details">
      <p>Payment method</p>
      <div class="credit-card">
        <div class="cc-name">
          <div class="rad">
            <input type="radio" name="" id="" />
            <div>
              <label for="credit-card"> Credit Card</label>
              <p class="cc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic,
                deserunt.
              </p>
            </div>
          </div>
          <div class="card-details">
            <input
              type="text"
              name=""
              id=""
              placeholder="  0000     0000     0000     0000 "
            />
            <input type="text" name="" placeholder="  MM/YY" id="" />
            <input type="text" name="" placeholder="  CVV" id="" />
          </div>
          <input type="text" name="" placeholder="  Card  Holder  Name" id="" />
        </div>
      </div>
      <div class="paypal">
        <div class="paypal-card">
          <input type="radio" name="" id="" />
          <div class="label">
            <label for="">
              Paypal
            </label>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ea
              corrupti eligendi explicabo minima placeat neque a tempore vitae
              quis!
            </p>
          </div>
          <div class="paypal-logo">
            <i class="fab fa-paypal fa-2x"></i>
            <em>
              <h3>Pay<span>Pal</span></h3>
            </em>
          </div>
        </div>
      </div>
      <div class="btns">
        <button routerLink="/final" class="next btn">Pay Now</button>
        <button routerLink="/home" class="Cancel btn">Cancel</button>
      </div>
    </div>
    <div class="cart-summary">
      <p>Summary</p>

      <div class="product">
        <img src="product.imageUrl" alt=" Product image" />
        <div class="product-detail">
          <h4>
            Product-Name
          </h4>
          <span>$300</span>
        </div>
      </div>

      <input type="text" placeholder="ENTER COUPON CODE" />

      <div class="cart-total">
        <div class="total"><span>SUBTOTAL</span><span>$600</span></div>
        <div class="total"><span>SHIPPING</span><span>FREE</span></div>
        <div class="total"><span>TAXES</span><span>$13</span></div>
      </div>
      <div class="total final-total">
        <span>TOTAL</span>
        <span>$613</span>
      </div>
    </div>
  </div>
</section>
