<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label for="username">Username</label>
      <input type="text" class="form-control" [(ngModel)]='username' >
      <p>{{ username }}</p>

      <button class="btn btn-primary" [disabled]="username===''"  (click)="username=''">Reset</button>
        

    <app-directive-sol></app-directive-sol>

      <app-event-sol (valueChange)="displayCounter($event)" [data]='username'></app-event-sol>

<br><br>
    

<button class="btn btn-primary" routerLink= '/study'>Route to study</button>
 <router-outlet></router-outlet>

    </div>
  </div>
</div>

