<section class="cart-head container-fluid">
  <div class="container">
    <ul>
      <li routerLink="/cart" class="active">1. Shopping Cart</li>
      <li routerLink="/ship" [attr.disabled]="cartList.length == 0">
        2. Shipping Details
      </li>
      <li>3. Payment Options</li>
    </ul>
  </div>
</section>

<section class="cart container-fluid">
  <div *ngIf="cartList.length === 0" class="cart-empty">
    <h3>
      *Your Cart is empty*
    </h3>
    <button routerLink="/home" class="continue-shop">Continue Shopping</button>
  </div>
  <div *ngIf="cartList.length > 0" class="container">
    <div class="cart-items">
      <p>
        Shopping Cart
      </p>
      <div class="items-list">
        <div *ngFor="let item of cartList; index as i" class="product">
          <img
            [src]="item.imageUrl"
            [routerLink]="['/product-description']"
            alt=" Product image"
          />
          <div class="product-detail">
            <h4 [routerLink]="['/product-description']">
              {{ item.name }}
            </h4>
            <span>Lorem ipsum dolor sit amet.</span>
            <span>{{ item.price | currency: "INR" }}</span>
          </div>
          <ng-container *ngFor="let item2 of quantityItem; index2 as y">
            <div class="qty" *ngIf="item.id == item2.id">
              <span>
                <label for="model">Select Model</label>
                <select name="model" (input)="model($event, i)" id="model">
                  <option value="none">Simple</option>
                  <option value="Simple">Advanced</option>
                  <option value="Pro">Pro</option>
                </select></span
              >
              <span>
                <label for="quantity">Quantity </label>
                <input
                  type="number"
                  min="1"
                  max="5"
                  (input)="getVal($event, i)"
                  [(ngModel)]="item2.quantity"
                  value="1"
                />
              </span>
              <div class="remove">
                <button (click)="removeCartData(item.id)">Remove</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="cart-summary">
      <p>Summary</p>

      <!-- <input type="text" placeholder="ENTER COUPON CODE" pattern="20OFFNOW" /> -->

      <div class="cart-total">
        <div class="total">
          <span>SUBTOTAL</span
          ><span>{{ getTotalPrice() | currency: "INR" }}</span>
        </div>
        <div class="total"><span>SHIPPING</span><span>FREE</span></div>

        <div class="total">
          <span>TAXES</span><span>{{ totalprice / 50 | currency: "INR" }}</span>
        </div>
      </div>
      <div class="total final-total">
        <span>TOTAL</span>
        <span>{{ totalprice + totalprice / 50 | currency: "INR" }}</span>
      </div>
    </div>
    <div class="btns">
      <button
        routerLink="/ship"
        [disabled]="cartList.length == 0"
        class="next btn"
      >
        Next
      </button>
      <button routerLink="/home" class="Cancel btn">Cancel</button>
    </div>
  </div>
</section>
