<div class="form">
    <h1>Reactive Form</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <input formControlName="email" type="email" class="form-control" placeholder="Enter email" required
                email>
            <small *ngIf="!form.get('email').valid && form.get('email').touched">&nbsp;Empty or Invalid email</small>
        </div>
        <div class="form-group">
            <input formControlName="password" type="password" class="form-control" placeholder="Password"
                required minlength="8">
            <small *ngIf="!form.get('password').valid && form.get('password').touched">&nbsp;Minimum password length is 8</small>
        </div>
        <div >
            <input formControlName="gender" type="radio" value="Male" required>
            <label for="male">
                Male
            </label>
        </div>
        <div >
            <input formControlName="gender" type="radio" value="Female"
                required>
            <label for="female">
                Female
            </label>
        </div>
        
        <div >
            <label for="City">Select City</label>
            <select formControlName="city" class="form-control" required>
                <option ngValue="Delhi">Delhi</option>
                <option ngValue="Gurgaon ">Gurgaon</option>
                <option ngValue="Noida">Noida</option>
                <option ngValue="Mumbai">Mumbai</option>
            </select>
        </div>
        <br>
        <div >
           
                <h4>Upload Image</h4>
           
        <div >
                <input formControlName="file" type="file" required>
                <label  for="file">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </form>


<div *ngIf="allSet">
    <div>
        <h2>Your Credentials</h2>
        <p>Email: {{form.get('email').value}}</p>
        <p>Password: {{form.get('password').value}}</p>
        <p>Gender: {{form.get('gender').value}}</p>
        <p>City: {{form.get('city').value}}</p>
        <p>FilePath: {{form.get('file').value}}</p>
    </div>
</div>