@keyframes nav-bar-animation {
  from {
    left: -1500px;
  }
  to {
    left: 0;
  }
}

.navbar {
  background: palegoldenrod;

  margin-bottom: 0;

  .container {
    ul {
      display: flex;
      justify-content: flex-end;
      animation: nav-bar-animation 3s ease-in-out;
      // .active {
      //   color: #f38434;
      // }

      li {
        color: var(--dark-gray-color);
        list-style: none;
        padding: 0.2rem 2rem;
        margin: 0.8rem 0.5rem;
        cursor: pointer;
        // ~ li {
        //   border-left: 2px solid var(--gray-color);
        //   height: 25px;
        // }
        &:hover {
          background: goldenrod;
          color: #fff;
          transition: all 0.5s ease;
          transform: translateY(-3px);
        }
        &:first-child {
          height: 25px;
        }
        .fas {
          padding: 0 0.5rem;
        }
        &:last-child {
          position: relative;
          span {
            border: 1px solid var(--gray-color);
            border-radius: 50%;
            position: absolute;
            font-size: 0.9rem;
            left: 8.9rem;
            width: 20px;
            height: 20px;
            text-align: center;
            align-items: center;
          }
          &:hover {
            span {
              border: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 786px) {
  .navbar {
    .container {
      ul {
        justify-content: center;
        li {
          padding: 0.2rem 1rem;
          &:last-child {
            span {
              left: 0.9rem;
              top: -0.2rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    .container {
      ul {
        justify-content: center;
        li {
          padding: 0rem;
          margin: 0.8rem 0.4rem;
          .fas {
            padding: 0 0.2rem;
          }
          &:last-child {
            span {
              padding: 0.1rem;
              font-size: 0.8rem;
              left: -0.3rem;
              top: -0.2rem;
            }
          }
        }
      }
    }
  }
}
