.navbar {
  background: #f5f5f5;

  margin-bottom: 0;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      color: var(--gray-color);
      list-style: none;
      padding: 0.2rem 2rem;
      margin: 0.8rem 0.5rem;
      cursor: pointer;
      // ~ li {
      //   border-left: 2px solid var(--gray-color);
      //   height: 25px;
      // }
      &:hover {
        background: var(--gray-color);
        color: #fff;
        transition: all 0.5s ease;
      }
      &:first-child {
        height: 25px;
      }
      .fas {
        padding: 0 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 786px) {
  .navbar {
    ul {
      justify-content: center;
      li {
        padding: 0.2rem 1rem;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    ul {
      justify-content: flex-start;
      li {
        padding: 0rem;
        margin: 0.8rem 0.3rem;
      }
    }
  }
}
